:root {
  --content-width: 72rem;
}

.max-w-7xl {
  max-width: calc(var(--content-width) + 36rem);
}

body:has(#single_header):not(.zen-mode-enable) #single_header,
body:has(#single_header):not(.zen-mode-enable) section.prose > div.min-w-0.max-w-fit,
body:has(#single_header):not(.zen-mode-enable) .article-content,
body:has(#single_header):not(.zen-mode-enable) article > footer {
  width: min(100%, var(--content-width));
  max-width: min(100%, var(--content-width)) !important;
}

body:has(main > article.relative.isolate.overflow-hidden) main > article > section.max-w-7xl {
  max-width: calc(var(--content-width) + 4rem);
}

body:has(main > article.relative.isolate.overflow-hidden) main > article > section.max-w-7xl > .max-w-4xl,
body:has(main > article.relative.isolate.overflow-hidden) main > article > section.max-w-7xl .max-w-3xl {
  max-width: var(--content-width);
}

body:has(main > article.relative.isolate.overflow-hidden) main > section {
  width: 100%;
  max-width: var(--content-width);
  margin-inline: auto;
}
